registry=https://registry.npmjs.org/
@npm:registry=https://registry.npmjs.org/
@types:registry=https://registry.npmjs.org/
always-auth=true
network-timeout=900000
fetch-retry-maxtimeout=900000
prefer-offline=true
strict-ssl=false

# Bypass mirror dan proxy
cafile=
capath=
http-proxy=
https-proxy=

# Konfigurasi tambahan
progress=false
fund=false
audit=false
loglevel=error